{% load static bootstrap4 %}
<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">
                <div class="header__logo">
                    <a href="#">
                        <img src="{% static "images/icon/log.png" %}" alt="uber troll logo" />
                    </a>
                </div>
                <div class="header__navbar">
                    <ul class="list-unstyled">
                        <li>
                            <a href="{% url 'registration_register' %}">
                                <i class="fas fa-user-plus"></i>
                                <span class="bot-line"></span>Register</a>
                        </li>
                        <li>
                            <a href="/accounts/login/">
                                <i class="fas fa-sign-in-alt"></i>
                                <span class="bot-line"></span>Login</a>
                        </li>

                    </ul>
                </div>

            </div>
        </div>
</header>
    <!-- END HEADER DESKTOP-->

    <!-- HEADER MOBILE-->
    <header class="header-mobile header-mobile-2 d-block d-lg-none">
        <div class="header-mobile__bar">
            <div class="container-fluid">
                <div class="header-mobile-inner">
                    <a class="logo" href="# ">
                        <img src="{% static "images/icon/log.png" %}" alt="uber troll logo" />
                    </a>
                    <button class="hamburger hamburger--slider" type="button">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar-mobile">
            <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">

                    <li>
                        <a href="{% url 'registration_register' %}">
                            <i class="fas fa-user-plus"></i>Register</a>
                    </li>
                    <li>
                        <a href="/accounts/login/">
                            <i class="fas fa-sign-in-alt"></i>Login</a>
                    </li>


                </ul>
            </div>
        </nav>
    </header>
    <!-- END HEADER MOBILE -->