{% load static %}

{% load static bootstrap4 %}
<!-- HEADER DESKTOP-->
<header class="header-desktop3 d-none d-lg-block">
        <div class="section__content section__content--p35">
            <div class="header3-wrap">
                <div class="header__navbar">
                        <ul class="list-unstyled">

                            <li>
                                <a href="{% url 'register:index' %}">
                                    <i class="fas fa-home"></i>
                                    <span class="bot-line"></span>Home</a>
                            </li>
                            <li>
                                <a href="{% url 'register:table' %}">
                                    <i class="fas fa-table"></i>
                                    <span class="bot-line"></span>Roll Call Table</a>
                            </li>
                        </ul>
                </div>

            </div>
        </div>
</header>
    <!-- END HEADER DESKTOP-->

<!-- HEADER MOBILE-->
<header class="header-mobile header-mobile-2 d-block d-lg-none">
    <div class="header-mobile__bar">
        <div class="container-fluid">
 
        </div>
    </div>
    <nav class="navbar-mobile">
        <div class="container-fluid">
                <ul class="navbar-mobile__list list-unstyled">
                    <li>
                        <a href="{% url 'register:index' %}">
                            <i class="fas fa-home"></i>Home</a>
                    </li>
                    <li>
                        <a href="{% url 'register:table' %}">
                                <i class="fas fa-table"></i>Roll Call Table</a>
                    </li>

                </ul>
        </div>
    </nav>
</header>
<!-- END HEADER MOBILE -->